@{
    ViewBag.Title = "Home Page";

    
}


    <div class="title">
        <h1>netpro_stock_game</h1>
        <p class="lead"> 説明</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>DB1</h2>
            <p>
                DB１のリンク
            </p>
            <p><a class="btn btn-default" href="https://localhost:44358/DB1">DB1Link &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Members</h2>
            <p>
                テストで作ったもの　使用していない
            </p>
            <p><a class="btn btn-default" href="https://localhost:44358/members">Members &raquo;</a></p>
        </div>

    </div>